@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-colour: #d1d1d1;
  --secondary-colour: #161615;
}

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../public/fonts/Raleway-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../public/fonts/IBMPlexMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../public/fonts/IBMPlexMono-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../public/fonts/IBMPlexMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../public/fonts/IBMPlexMono-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../public/fonts/IBMPlexMono-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../public/fonts/IBMPlexMono-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../public/fonts/IBMPlexMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "IBMPlexMono";
  src: url("../public/fonts/IBMPlexMono-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

.stripes {
  background-image: repeating-linear-gradient(
    135deg,
    var(--secondary-colour),
    var(--secondary-colour) 0.5%,
    transparent 0.5%,
    transparent 2%
  );
}

.stripes-2 {
  background-image: repeating-linear-gradient(
    45deg,
    var(--secondary-colour),
    var(--secondary-colour) 0.25%,
    transparent 0.25%,
    transparent 0.5%
  );
}

.rombus {
  background-color: var(--primary-colour);
  background-image: repeating-linear-gradient(
      45deg,
      var(--secondary-colour) 25%,
      transparent 25%,
      transparent 75%,
      var(--secondary-colour) 75%,
      var(--secondary-colour)
    ),
    repeating-linear-gradient(
      45deg,
      var(--secondary-colour) 25%,
      var(--primary-colour) 25%,
      var(--primary-colour) 75%,
      var(--secondary-colour) 75%,
      var(--secondary-colour)
    );
  background-position: 0 0, 4px 4px;
  background-size: 8px 8px;
}

.arrow {
  -webkit-mask: url("../public/arrow.svg");
  mask: url("../public/arrow.svg");
  -webkit-mask-size: contain;
  mask-size: contain;
}

.link::after {
  clip-path: polygon(100% 49%, 100% 100%, 0% 100%, 0% 49%);
  -webkit-clip-path: polygon(100% 49%, 100% 100%, 0% 100%, 0% 49%);
}

.cursor {
  animation: cursor 1s step-end infinite;
}

.hr {
  width: 0%;
  animation: hr 2s ease forwards;
}

.vr {
  height: 0%;
  animation: vr 2s ease forwards;
}

.grain {
  background-image: url("../public/1k_Dissolve_Noise_Texture.png");
  height: 300%;
  width: 300%;
  position: fixed;
  opacity: 0.05;
  pointer-events: none;
  animation: grain 8s steps(10) infinite;
}

@keyframes cursor {
  from,
  to {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

@keyframes hr {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes vr {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, -20%);
  }
  30% {
    transform: translate(-5%, -10%);
  }
  40% {
    transform: translate(-15%, -20%);
  }
  50% {
    transform: translate(-5%, -10%);
  }
  60% {
    transform: translate(-15%, -20%);
  }
  70% {
    transform: translate(-5%, -10%);
  }
  80% {
    transform: translate(-15%, -20%);
  }
  90% {
    transform: translate(-5%, -10%);
  }
  100% {
    transform: translate(-15%, -20%);
  }
}
